resource_group_name = "qualys-registry-sensor-rg"
location            = "eastus"

cluster_name = "qualys-registry-cluster"

node_count   = 2
node_vm_size = "Standard_B2s"

create_acr = true
acr_name   = ""

qualys_activation_id = "YOUR_ACTIVATION_ID"
qualys_customer_id   = "YOUR_CUSTOMER_ID"
qualys_pod_url       = "https://qualysapi.qualys.com"
